{% extends 'base.html' %}

{% block title %}Delete Flight{% endblock %}

{% block content %}
<h1>Are you sure you want to delete this flight?</h1>
<p><strong>Flight ID</strong> {{ flight.flight_id }}</p>
<p><strong>Departure Airport</strong> {{ flight.dep_airport }}</p>
<p><strong>Departure Date</strong> {{ flight.dep_date }}</p>
<p><strong>Departure Time</strong> {{ flight.dep_time }}</p>
<p><strong>Arrival Airport</strong> {{ flight.arr_airport }}</p>
<p><strong>Arrival Date</strong> {{ flight.arr_date }}</p>
<p><strong>Arrival Time</strong> {{ flight.arr_time }}</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" style="padding: 10px; background-color: #F55536; color: white; border: none; cursor: pointer;">Delete</button>
    <a href="{% url 'flight_list' %}" style="display: block; margin-top: 20px; padding: 10px; background-color: #F19143; color: white; text-align: center; text-decoration: none;">Cancel</a>
</form>
{% endblock %}
